body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto';
    background-color: #afd275;
    color: #7E685A;
    overflow-x: hidden;
}

a {
    color: inherit;
}

.navbar-brand {
    font-size: 40px;
    font-weight: bold;
}

.navbar-brand:hover {
    color: black;
}

.nav-link,
.navbar-brand {
    color: #7E685A;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em;
    font-size: 25px;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler-icon {
    color: #7E685A;
}

.profile {
    margin-top: 150px;
}

.profilePhoto {
    width: 400px;
    height: 300px;
    border-radius: 50px;
    background: #AFD275;
    box-shadow:  20px 20px 22px #95b363, 
                 -20px -20px 22px #c9f287;
    margin: 0 auto;
    
}

.profilePhoto img {
    max-width: 400px;
    max-height: 300px;
    border-radius: 50px;
}