* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #AFD275;
    font-family: 'Soulmaze';
    overflow-x: hidden;
}

header h1 {
    display: inline-block;
    color: #7E685A;
    font-size: 70px;
    margin-left: 10px;
   
}

header nav {
    float: right;
}

header nav ul {
    font-size: 20px;
    margin-right: 5px;
}

header nav ul li {
    display: inline-block;
    transition: all .2s ease-in-out;
}

header nav ul li a {
    text-decoration: none;
    color: #7E685A;
    margin: 0 5px;
}

header nav ul li:hover {
    transform: scale(1.1);
}


main {
    background-color: #AFD275;
    width: 80%;
    height: 800px;
    display: inline-block;
}


aside {
    width: 20%;
    height: 800px;
    float: right;
}

.gap4circle {
    width: 80%;
    height: 20vh;
}

.circle {
    width: 400px;
    height: 300px;
    border-radius: 50px;
    background: #AFD275;
    box-shadow:  20px 20px 22px #95b363, 
                 -20px -20px 22px #c9f287;
    margin: 0 auto;
    
}

.circle img {
    max-width: 400px;
    max-height: 300px;
    border-radius: 50px;
}

.aside {
    border-left: 5px;
    border-color: white;
}


@font-face { font-family: 'Soulmaze'; src: url('../MADE_Soulmaze_PERSONAL_USE.otf'); } 